@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bowlby+One+SC&family=Inter:wght@300;500&family=Smooch+Sans:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.imagen__pmp {
  width: 100%;
  height: 100%; }

.imagen__acp {
  width: 100%;
  height: 100%; }

.imagen__advanced {
  width: 100%;
  height: 100%; }

.imagen__itil {
  width: 100%;
  height: 100%; }

.imagen__scrum {
  width: 100%;
  height: 100%; }

.font__xlarge {
  font-size: 3em;
  color: #ffffff;
  text-align: justify; }

.font__large {
  font-size: 2.5em;
  color: #ffffff;
  text-align: justify; }

.font__medium {
  font-size: 2em;
  color: #ffffff;
  text-align: justify; }

.font__small {
  font-size: 1.5em;
  color: #ffffff;
  text-align: justify; }

p {
  font-size: 2.5em; }

/* Animaciones */
.principal2 > div {
  background-image: linear-gradient(#6d6d6a, black); }

.contact1 {
  background-color: #6d6d6a; }

.content6 {
  color: #ffffff; }

.content7 {
  color: #ffffff; }

.principal12 > div {
  background-color: #6d6d6a;
  margin: 10px; }

.parrafo__pagos {
  color: #ffffff; }

.logo2__link {
  transform: translateY(-350px); }

.principal6 {
  overflow: hidden; }

.principal8 {
  overflow: hidden; }

.principal10 {
  overflow: hidden; }

.imagen__pmp:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
  transition: all .5s; }

.imagen__acp:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
  transition: all .5s; }

.imagen__advanced:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
  transition: all .5s; }

.imagen__train:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
  transition: all .5s; }

.imagen__itil:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
  transition: all .5s; }

.imagen__scrum:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
  transition: all .5s; }

.imagen__producto:hover {
  transform: scale(1.1);
  filter: grayscale(80%);
  transition: all .5s; }

.icon {
  animation-name: crazyicon;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3s; }

.social__media {
  animation-name: crazyicon1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3s; }

@keyframes crazyicon {
  0% {
    transform: rotate(-150deg);
    position: relative;
    right: 100px; }
  25% {
    transform: rotate(-200deg);
    position: relative;
    right: 75px; }
  50% {
    transform: rotate(-250deg);
    position: relative;
    right: 50px; }
  75% {
    transform: rotate(-300deg);
    position: relative;
    right: 25px; }
  100% {
    transform: rotate(-360deg);
    position: relative;
    right: 0px; } }

@keyframes crazyicon1 {
  0% {
    transform: rotate(-150deg);
    position: relative;
    right: 100px; }
  25% {
    transform: rotate(-200deg);
    position: relative;
    right: 75px; }
  50% {
    transform: rotate(-250deg);
    position: relative;
    right: 50px; }
  75% {
    transform: rotate(-300deg);
    position: relative;
    right: 25px; }
  100% {
    transform: rotate(-360deg);
    position: relative;
    right: 0px; } }

html {
  font-size: 62.5%;
  font-family: "Smooch Sans", sans-serif;
  color: #ffffff;
  background-color: #f2f3f2; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #ffffff; }

.container {
  max-width: auto;
  margin: 0 auto; }

header {
  background-color: #000000; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 2rem; }
  header .logo {
    flex-basis: 30%; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap; }
  .menu__item, .menu__item--active {
    transition: border-color .5s ease-in-out; }
    .menu__item--active {
      border-bottom: 2px solid #ffffff; }
    .menu__item:hover, .menu__item--active:hover {
      border: 2px solid #ffffff; }
    .menu__item:hover .sub-menu, .menu__item--active:hover .sub-menu {
      display: block; }
    .menu__item .menu__link, .menu__item--active .menu__link {
      font-size: 2.5em;
      padding: 1rem; }

.sub-menu {
  display: none;
  position: absolute; }
  .sub-menu__item {
    padding: 10px 0px; }
  .sub-menu__link {
    padding: 1rem;
    font-size: 1.8em;
    transition: all ease-in-out; }
    .sub-menu__link:hover {
      background-color: #ffffff;
      color: #000000; }

.nav__label, .nav__input {
  display: none; }

footer {
  background-color: black; }

.social__media {
  width: 55px; }

.social {
  display: flex;
  justify-content: center; }

.text__footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr); }

.follow {
  font-family: "Smooch Sans", sans-serif;
  color: #ffffff;
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin: 0 20px; }

.contact {
  font-family: "Smooch Sans", sans-serif;
  color: #ffffff;
  font-size: 3em;
  display: flex;
  justify-content: center; }

.offices {
  font-family: "Smooch Sans", sans-serif;
  color: #ffffff;
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin: 0 20px; }

.offices__parrafo {
  font-family: "Smooch Sans", sans-serif;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  margin: 0 10px; }

.derechos {
  color: #2970af;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  justify-content: center; }

a {
  text-decoration: none; }

.red__social li {
  display: inline-block;
  padding: 10px;
  margin: 10px 0px 0px 0px; }

.red__social {
  display: flex;
  justify-content: space-evenly; }

.icon {
  width: 40px; }

.icon:hover {
  filter: sepia(50%); }

.copyright {
  display: flex;
  justify-content: center;
  font-family: "Smooch Sans", sans-serif;
  font-size: 1.7em; }

textarea {
  width: 525px; }

h1 {
  font-family: "Smooch Sans", sans-serif;
  font-size: 3em;
  margin: 0 0;
  padding: 0 0;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center; }

body {
  background-color: #000000; }

.logo {
  height: 50px;
  margin: 10px; }

.banner {
  display: flex;
  justify-content: center; }

.banner__link {
  width: 100%;
  margin: 0px 0px 0px; }

.button {
  display: flex;
  justify-content: center; }

.button__click {
  border-radius: 50px;
  height: 35px;
  width: 130px;
  margin: 35px 0 auto;
  background-color: #3483fa;
  color: aliceblue;
  border-color: transparent;
  font-family: "Smooch Sans", sans-serif;
  font-size: 2em; }

.button__click1 {
  border-radius: 5px;
  height: 35px;
  width: 130px;
  background-color: #3483fa;
  color: aliceblue;
  border-color: transparent;
  font-family: "Smooch Sans", sans-serif;
  font-size: 2em; }

header {
  position: sticky;
  top: 0;
  width: 100%; }

.banner2__link {
  width: 100%;
  margin-bottom: 10px; }

.banner2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center; }

.paragraph__banner2 {
  color: #000000;
  font-family: "Smooch Sans", sans-serif;
  font-size: 2em; }

.principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  padding: 10px; }

.principal > div {
  background-color: #39A2AE;
  text-align: justify;
  padding: 5px 0; }

.principal1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px; }

.principal1 > div {
  background-color: #6d6d6a;
  text-align: justify;
  padding: 5px 0; }

.principal2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 0px;
  height: 100%; }

.principal2 > div {
  background-color: #6d6d6a;
  text-align: justify;
  padding: 0px 0;
  font-size: 1.8em; }

.principal3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.principal3 > div {
  background-color: #6d6d6a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify; }

.principal4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr; }

.principal5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "mp1 mp2" "mp3 mp4"; }

.maps {
  grid-column-start: mp2;
  grid-column-end: mp4;
  grid-row-start: mp2;
  grid-row-end: mp4;
  display: flex;
  justify-content: center;
  align-items: center; }

.maps {
  width: 100%;
  height: 100%; }

.principal5 > div {
  background-color: #6d6d6a;
  padding: 5px 0;
  font-size: 1.8em; }

.principal6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto); }

.principal7 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 50px);
  gap: 10px;
  min-height: 0vh; }

.principal7 > div {
  padding: 0px 0;
  font-size: 1.8em;
  margin: 0px 0px;
  color: #000000; }

.principal8 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 350px);
  gap: 10px;
  min-height: 0vh; }

.principal9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 50px);
  gap: 10px;
  min-height: 0vh; }

.principal9 > div {
  padding: 0px 0;
  font-size: 1.8em;
  margin: 0px 0px;
  color: #000000; }

.principal10 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 350px);
  gap: 10px;
  min-height: 0vh; }

.principal11 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 50px);
  gap: 10px; }

.principal11 > div {
  padding: 0px 0;
  font-size: 1.8em;
  margin: 0px 0px;
  color: #000000; }

.icon__pagos {
  margin: 0px 0px 30px 900px; }

.parrafo__pagos {
  font-family: "Smooch Sans", sans-serif;
  font-size: 2em;
  margin: 0px 0px 30px 900px; }

.content {
  padding: 10px 20px;
  list-style-type: none; }

.content1 {
  color: #ffffff;
  display: flex;
  align-content: center;
  font-size: 1.5em;
  padding: 0 20px; }

.content2 {
  display: flex;
  padding: 0 20px;
  background-color: #000000;
  margin-top: -10px;
  min-height: 10vh;
  align-items: center; }

.content3 {
  display: flex;
  align-content: center;
  padding: 0 20px;
  background-color: #000000; }

.content4 {
  color: #ffffff;
  padding: 10px 20px;
  list-style-type: none;
  text-align: justify; }

.content5 {
  color: #ffffff;
  padding: 10px 20px;
  list-style-type: none;
  text-align: justify; }

.content6 {
  padding: 10px 20px;
  list-style-type: none;
  display: flex;
  margin: 10px 250px 10px 0px; }

.content7 {
  font-family: "Smooch Sans", sans-serif;
  padding: 10px 20px; }

.titulo {
  color: #ffffff;
  padding: 0px 20px;
  font-size: 2.5em; }

.logo3__link {
  height: 40px;
  margin: 10px 40px; }

.logo4__link {
  height: 50%;
  margin: 20px 20px; }

.maps__about {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 2;
  display: flex;
  justify-content: start; }

.maps__about .maps {
  height: 210px;
  width: 650px; }

.banner__peque {
  width: 100%;
  height: 100%;
  padding: 10px; }

.banner__peque1__team {
  width: 100%;
  height: 100%;
  padding: 10px; }

.imagen__about {
  width: 100%;
  height: 100%; }

.banner__courses__link {
  width: 100%; }

.courses {
  color: #000000; }

.text__courses {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 0px 10px;
  font-size: 2.5em;
  color: #ffffff; }

.design {
  font-size: 1.2em; }

.center {
  display: flex;
  justify-content: center;
  overflow: hidden; }

.imagen__train {
  width: 100%;
  height: 100%; }

.imagen__producto {
  width: 100%;
  height: 100%; }

.imagen__fin {
  width: 200%;
  height: 100%; }

.blog__imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 500px; }

.imagen__blog {
  width: 1000px;
  height: 500px; }

.contact1 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.box {
  padding: 2px;
  margin: 10px 0px;
  display: flex;
  width: 500px; }

/* Responsive */
@media only screen and (max-width: 768px) {
  header {
    height: auto; }
  body {
    background-color: #000000; }
  .logo {
    width: 220px;
    margin-left: 20px; }
  .nav__label {
    display: block;
    margin-top: 10px;
    cursor: pointer; }
  .nav__img {
    height: 50px; }
  .menu {
    width: 100%;
    height: 0vh;
    top: 65px;
    background-color: rgba(0, 0, 0, 0.95);
    text-align: center;
    left: 0;
    transition: all .5s;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 0em; }
  .menu li {
    line-height: 30px;
    margin: 0px 0;
    transition: all .5s;
    display: none; }
  .menu li a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600; }
  #check:checked ~ .menu {
    height: 30vh; }
  #check:checked ~ .menu li {
    display: block; }
  .sub-menu__link {
    display: none; }
  .banner__peque {
    margin-left: 10px; }
  .banner__peque1__team {
    width: 100%;
    padding-right: 10px; }
  .imagen__blog {
    width: 100%;
    margin: 10px; }
  .imagen__about {
    padding: 0px 10px 0px 10px; }
  .content2 {
    min-height: 5vh; }
  header .navbar {
    padding: 0px 0px;
    gap: 0em; }
  .principal4 {
    margin-top: 10px; }
  .design {
    font-size: 0.8em; }
  h1 {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2em; }
  .principal5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "m1" "m2" "m3";
    padding: 10px 10px 0px 10px; }
  .parrafo__pagos {
    font-family: "Smooch Sans", sans-serif;
    font-size: 2em;
    margin: 0px 30px; }
  .icon__pagos {
    margin: 10px 0px 0px 0px;
    scale: 80%; }
  .button__click1 {
    margin: 10px 10px 10px;
    width: 60px;
    text-align: center; }
  .contact1 {
    display: flex;
    flex-direction: column;
    margin: 10px; }
  .offices__parrafo {
    font-size: 1.15em;
    justify-content: flex-start; }
  .maps {
    grid-column-start: m1;
    grid-column-end: m1;
    grid-row-start: m3;
    grid-row-end: m3;
    width: 100%;
    height: 100%; }
  .content6 {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    margin: 0px 0px; }
  .content7 {
    font-size: 2.5em;
    justify-content: center;
    width: 300px;
    font-weight: bold; }
  .principal {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    gap: 0px; }
  .principal1 {
    grid-template-columns: 1fr;
    grid-gap: 0px; }
  .content {
    font-size: 1.8em; }
  .list {
    text-align: left; }
  .content1 {
    padding: 10px 10px;
    font-size: 1em; }
  .button__click {
    margin: 40px 0 auto;
    font-size: 2.5em;
    width: 200px;
    height: 70px; }
  .banner2__link {
    height: 180px;
    padding: 0px 10px 10px 10px; }
  .principal3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "p1" "p2" "p3" "p4" "log" "p5";
    height: 400px;
    padding: 0px 10px 0px 10px; }
  .principal3 .log {
    grid-row-start: log;
    grid-row-end: log; }
  .principal3 .teach {
    grid-row-start: p3;
    grid-row-end: p3; }
  .principal3 .infra1 {
    grid-row-start: p2;
    grid-row-end: p2; }
  .principal3 .somos {
    grid-row-start: p4;
    grid-row-end: p4; }
  .principal6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 350px);
    grid-template-areas: "c1" "c2" "c3" "c4" "c5" "c6" "c7" "c8" "c9" "c10" "c11" "c12" "c13" "c14" "c15";
    gap: 0px;
    width: 100%; }
  .pmp {
    grid-row-start: c2;
    grid-row-end: c2; }
  .acp {
    grid-row-start: c4;
    grid-row-end: c4; }
  .train {
    grid-row-start: c8;
    grid-row-end: c8; }
  .itil {
    grid-row-start: c10;
    grid-row-end: c10; }
  .product {
    grid-row-start: c14;
    grid-row-end: c14; }
  .imagen__fin {
    width: 100%;
    height: 200px;
    padding: 0px 10px; }
  .logo4__link {
    width: 200px;
    height: 50px;
    margin: 20px 20px; }
  .principal5 > div {
    background-color: #6d6d6a;
    padding: 5px 0;
    font-size: 1.6em;
    max-height: 10vh; }
  .principal6 > div {
    font-size: 1.8em;
    color: #000000;
    margin: 0px 10px 0px 10px; }
  .content3 {
    margin-top: -10px;
    min-height: 8vh;
    align-items: center; }
  .pmp div {
    height: 2vh; }
  .principal7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%; }
  .red__social li {
    display: inline-block;
    padding: 2px; }
  .follow {
    font-size: 2em; }
  .contact {
    font-size: 2em; }
  .offices {
    font-size: 2em; }
  .social__media {
    width: 30px;
    margin: 8px; }
  .icon {
    width: 20px;
    margin: 0px 3px; }
  .box {
    padding: 2px;
    margin: 10px;
    width: 280px; }
  textarea {
    width: 300px; }
  .text__contact {
    margin-top: 30px; }
  .copyright {
    display: flex;
    justify-content: center;
    font-family: "Smooch Sans", sans-serif;
    font-size: 1.7em; }
  .text__courses {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff; }
  .content4 {
    color: #ffffff; }
  .content5 {
    color: #ffffff; } }
