<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icono_blanco.png" type=" image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../images/" type="image/x-icon">
    <title>ProJavsa - Blog</title>
</head>

<body>
    <header class="header">
        <nav class="navbar flex-row container">
            <picture class="logo">
                <a href="../index.html"><img src="../images/logo.png" alt="logo de la marca ProJavsa" class="logo"></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__link">Courses</a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">PMP Certificate </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">PMI ACP Certificate</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">PM² Advanced Certificate</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">PM² Trainer Certificate</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">Diploma Itil</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">Scrum Master</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="./views/courses.html" class="sub-menu__link">Producto Owner</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a href="./blog.html" class="menu__link">Blog</a>
                </li>
                <li class="menu__item">
                    <a href="./contact.html" class="menu__link">Contact</a>
                </li>
            </ul>
        </nav>
        <h1>PROJAVSA Project Management Education</h1>
    </header>
    <img src="../images/portada3_1.jpg" alt="banner" class="banner__courses__link">
    <h3 class="content3">Blog</h3>
    <main>
        <section>
            <h3 class="content4">3 Free Resources to Get Started in Project Management</h3>
            <p class="content5">In today's next section, we want to provide you with some free tips and resources to get
                you started in
                the field of project management</p>
            <img src="../images/pm_blog.webp" alt="" class="imagen__blog">
            <ul>
                <li class="content5">
                    On many occasions professionals who want to start in management or who want to turn their career
                    around write to us, however, the available economic resources can be a limitation, but it does not
                    have to be.
                </li>
                <li class="content5">
                    Today we have many free resources that can help beginners get started on this path in Project
                    Management.
                </li>
                <li class="content5">
                    Let's go with that:
                </li>
            </ul>
            <h3 class="content4">3 Free project management guides</h3>
            <ul>
                <li class="content5">
                    The European Commission makes available a complete and detailed project management guide, describing
                    the PM2 methodology.
                </li>
                <li class="content5">
                    Available in English and Spanish, this guide is completely free and has detailed information on how
                    to manage a project from start to finish.
                </li>
                <li class="content5">
                    It also includes 33 professional templates, which will help you put into practice what you have
                    learned and are also free to use.
                </li>
                <li class="content5">
                    You can access your download here: PM2 Guide
                </li>
                <li class="content5">
                    You also have at your disposal the official Scrum guide for free, in case you are interested in this
                    highly demanded Agile framework.
                </li>
                <li class="content5">
                    You can access your download here: Scrum Guide
                </li>
            </ul>
            <h3 class="content4">PMI Kickoff</h3>
            <li class="content5">
                This is a free course of approximately 1 hour duration, created and distributed free of charge by PMI.
            </li>
            <li class="content5">
                It is an introductory training to project management, and to the different approaches (traditional,
                agile, hybrid). highly recommended and free
            </li>
            <li class="content5">
                You can access the course here: PMI Kickoff
            </li>

            <h3 class="content4">Blog ProJavsa</h3>
            <li class="content5">
                Last but not least, the blog you are reading has 40,000 subscribers.
            </li>
            <li class="content5">
                Do not forget to subscribe to our blog, you will learn about various topics directly related to project
                management, leadership, negotiation and you will be up to date with emerging trends. I hope you find
                these free resources helpful.
            </li>
        </section>
    </main>


    <footer class="footer">
        <section class="text__footer">
            <div>
                <h2 class="follow">Follow Us</h2>
                <ul class="red__social">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><img src="../images/icon_facebook.svg"
                                alt="facebook" class="icon"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/home" target="_blank"><img src="../images/icon_linkedin.svg"
                                alt="Linkedin" class="icon"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank"><img src="../images/icon_twitter.svg"
                                alt="Twitter" class="icon"></a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="contact">Contact</h2>
                <a href="./views/contact.html" target="_blank" class="social"><img src="../images/contact.png"
                        alt="Contacto" class="social__media"></a>
            </div>
            <div>
                <h2 class="offices">Offices</h2>
                <ul>
                    <li class="offices__parrafo">
                        Av. Insurgenes Sur 859
                    </li>
                    <li class="offices__parrafo">
                        Napoles, Benito Juarez,
                    </li>
                    <li class="offices__parrafo">
                        03810, Ciudad de México
                    </li>
                </ul>
            </div>
        </section>
        <div class="copyright">
            <p>
                Copyright 2022. All Rights Reserved. Designed by
                <span>Jhonatan Alvarez Vargas</span>
            </p>
        </div>
    </footer>
</body>

</html>