<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icono_blanco.png" type=" image/x-icon">
    <link rel="stylesheet" href="../css/style1.css">
    <title>ProJavsa - Courses</title>
</head>

<body>
    <header class="header">
        <nav class="navbar flex-row container">
            <picture class="logo">
                <a href="../index.html"><img src="../images/logo.png" alt="logo de la marca ProJavsa" class="logo"></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__link">Courses</a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">PMP Certificate </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">PMI ACP Certificate</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">PM² Advanced Certificate</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">PM² Trainer Certificate</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">Diploma Itil</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="../views/courses.html" class="sub-menu__link">Scrum Master</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="./views/courses.html" class="sub-menu__link">Producto Owner</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a href="./blog.html" class="menu__link">Blog</a>
                </li>
                <li class="menu__item">
                    <a href="./contact.html" class="menu__link">Contact</a>
                </li>
            </ul>
        </nav>
        <h1>PROJAVSA Project Management Education</h1>
    </header>
    <img src="../images/portada3_1.jpg" alt="banner" class="banner__courses__link">
    <h3 class="content2">Courses</h3>
    <main>
        <section class="principal6">
            <div>
                <img src="../images/PMP.jpg" alt="" class="imagen__pmp">
            </div>
            <div>
                <img src="../images/acp.jpg" alt="" class="imagen__acp">
            </div>
            <div>
                <img src="../images/Advanced.jpg" alt="" class="imagen__advanced">
            </div>
        </section>
        <section class="principal7">
            <div>
                <ul>
                    <li class="text__courses">
                        Project Magement Professional
                    </li>
                    <li class="text__courses">
                        PMP
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="text__courses">
                        Agile Certified Practitioner
                    </li>
                    <li class="text__courses">
                        ACP
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="text__courses">
                        Advanced Certificate
                    </li>
                    <li class="text__courses">
                        PM²
                    </li>
                </ul>
            </div>
        </section>
        <section class="principal8">
            <div>
                <img src="../images/train_certificate.jpg" alt="" class="imagen__train">
            </div>
            <div>
                <img src="../images/itil.jpg" alt="" class="imagen__itil">
            </div>
            <div>
                <img src="../images/scrum_master.jpg" alt="" class="imagen__scrum">
            </div>
        </section>
        <section class="principal9">
            <div>
                <ul>
                    <li class="text__courses">
                        Trainer Certificate
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="text__courses">
                        Diploma in Itil Service and Operation
                    </li>
                    <li class="text__courses">
                        Management
                    </li>
                </ul>
            </div>

            <div>
                <p class="text__courses">
                    Scrum Master
                </p>
            </div>
        </section>
        <section class="principal10">
            <div>
                <img src="../images/product_owner.jpg" alt="" class="imagen__producto">
            </div>
            <div>
                <img src="../images/portada.jpg" alt="" class="imagen__fin">
            </div>
        </section>
        <section class="principal11">
            <div>
                <p class="text__courses">Producto Owner</p>
            </div>
        </section>
        <section class="principal5">
            <div>
                <img src="../images/logo.png" alt="logo de la marca ProJavsa" class="logo4__link">
            </div>
            <div class="maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1582.3802813888967!2d-99.17532293437915!3d19.388378173656797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff7694863187%3A0xd1dbc0e9c0bd0330!2sIOS%20OFFICES%20Corporativo%20Kansas!5e0!3m2!1ses!2smx!4v1646362120162!5m2!1ses!2smx"
                    style="border:0;" allowfullscreen="" loading="lazy" class=" maps">
                </iframe>
            </div>
            <div>
                <p class="content1">
                    We are a private Mexica Educational Institution with international scope, oriented to Business and
                    Business Management with a modern, serious and quality educational model based on experience and the
                    case method.
                </p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <section class="text__footer">
            <div>
                <h2 class="follow">Follow Us</h2>
                <ul class="red__social">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><img src="../images/icon_facebook.svg"
                                alt="facebook" class="icon"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/home" target="_blank"><img src="../images/icon_linkedin.svg"
                                alt="Linkedin" class="icon"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank"><img src="../images/icon_twitter.svg"
                                alt="Twitter" class="icon"></a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="contact">Contact</h2>
                <a href="./views/contact.html" target="_blank" class="social"><img src="../images/contact.png"
                        alt="Contacto" class="social__media"></a>
            </div>
            <div>
                <h2 class="offices">Offices</h2>
                <ul>
                    <li class="offices__parrafo">
                        Av. Insurgenes Sur 859
                    </li>
                    <li class="offices__parrafo">
                        Napoles, Benito Juarez,
                    </li>
                    <li class="offices__parrafo">
                        03810, Ciudad de México
                    </li>
                </ul>
            </div>
        </section>

        <div class="copyright">
            <p>
                Copyright 2022. All Rights Reserved. Designed by
                <span>Jhonatan Alvarez Vargas</span>
            </p>
        </div>
    </footer>
</body>

</html>