header {
    background-color: $principal;

    .navbar {
        @include flex (row, space-between, center, 2rem, wrap);
        padding: 0 2rem;
    }

    .logo {
        flex-basis: 30%;
    }

}

.menu {
    @include flex (row, space-between, center, 2rem, nowrap);

    &__item {
        transition: border-color .5s ease-in-out;

        &--active {
            @extend .menu__item;
            border-bottom: 2px solid #ffffff;
        }

        &:hover {
            border: 2px solid $secondary
        }

        &:hover .sub-menu {
            display: block;
        }

        .menu__link {
            font-size: $tex-md;
            padding: 1rem;
        }

    }

}

.sub-menu {
    display: none;
    position: absolute;

    &__item {
        padding: 10px 0px;
    }

    &__link {
        padding: 1rem;
        font-size: 1.8em;
        transition: all ease-in-out;

        &:hover {
            background-color: $secondary;
            color: $principal;
        }
    }
}

.nav__label, .nav__input {
    display: none;
}
