h1 {
    font-family: $font-primary;
    font-size: 3em;
    margin: 0 0;
    padding: 0 0;
    background-color: rgba(0, 198, 248, 0.459);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

}

.logo {
    height: 50px;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner__link {
    width: 100%;
    margin: 0px 0px 0px;
}

.button {
    display: flex;
    justify-content: center;
}

.button__click {
    border-radius: 5px;
    height: 35px;
    width: 130px;
    margin: 35px 0 auto;
    background-color: #3483fa;
    color: aliceblue;
    border-color: transparent;
    font-family: $font-primary;
    font-size: 2em;
}

.button__click1 {
    border-radius: 5px;
    height: 35px;
    width: 130px;
    margin: 5px 300px 0px;
    background-color: #3483fa;
    color: aliceblue;
    border-color: transparent;
    font-family: $font-primary;
    font-size: 2em;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
}

.banner2__link {
    width: 100%;
}

.banner2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
}

.paragraph__banner2 {
    color: #000000;
    font-family: $font-primary;
    font-size: 2em;
    
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.principal>div {
    background-color: #39A2AE;
    text-align: justify;
    padding: 5px 0;
}

.principal1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.principal1>div {
    background-color: #6d6d6a;
    text-align: justify;
    padding: 5px 0;
}

.principal2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0px;
    height: 100%;
}

.principal2>div {
    background-color: #6d6d6a;
    text-align: justify;
    padding: 0px 0;
    font-size: 1.8em;
}

.principal3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.principal3>div {
    background-color: #6d6d6a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.principal4 {
    display: flex;
}

.principal5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:    "mp1 mp2"
                            "mp3 mp4";
                        }

.maps {
    grid-column-start: mp2;
    grid-column-end: mp4;
    grid-row-start: mp2;
    grid-row-end: mp4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps {
    width: 100%;
    height: 100%;
}

.principal5>div {
    background-color: #6d6d6a;
    padding: 5px 0;
    font-size: 1.8em;
}

.principal6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
}

.principal7 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 50px);
    gap: 10px;
    min-height: 0vh;
}

.principal7>div {
    padding: 0px 0;
    font-size: 1.8em;
    margin: 0px 0px;
    color: #000000;
}

.principal8 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 350px);
    gap: 10px;
    min-height: 0vh;
}

.principal9 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 50px);
    gap: 10px;
    min-height: 0vh;
}

.principal9>div {
    padding: 0px 0;
    font-size: 1.8em;
    margin: 0px 0px;
    color: #000000;
}

.principal10 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 350px);
    gap: 10px;
    min-height: 0vh;
}

.principal11 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 50px);
    gap: 10px;
    min-height: 0vh;
}

.principal11>div {
    padding: 0px 0;
    font-size: 1.8em;
    margin: 0px 0px;
    color: #000000;
}

.principal12 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 100px);
    min-height: 0vh;
    color: #000000;
}

.icon__pagos {
    margin: 0px 225px 0px;
}

.parrafo__pagos {
    font-family: $font-primary;
    font-size: 2em;
    margin: 0px 225px 30px;
}

.content {
    padding: 10px 20px;
    list-style-type: none;
}
.content1 {
    color: $secondary;
    display: flex;
    align-content: center;
    font-size: 1.5em;
    padding: 0 20px;
}

.content2 {
    display: flex;
    align-content: center;
    padding: 0 20px;
    background-color: #000000;
}

.content3 {
    display: flex;
    align-content: center;
    padding: 0 20px;
    background-color: #000000;
}

.content4 {
    color: $principal;
    padding: 10px 20px;
    list-style-type: none;
    text-align: justify;
}

.content5 {
    color: $principal;
    padding: 10px 20px;
    list-style-type: none;
    text-align: justify;
}

.content6 {
    padding: 10px 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.content7 {
    font-family: $font-primary;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.titulo {
    color: $secondary;
    padding: 0px 20px;
    font-size: 2.5em;
}


.logo3__link {
    height: 40px;
    margin: 0px 40px;
}

.logo4__link {
    height: 50%;
    margin: 20px 20px;
}

.maps__about {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 2;
    display: flex;
    justify-content: start;
}

.maps__about .maps {
height: 210px;
width: 650px;
}

.banner__peque {
    width: 100%;
    height: 100%;
}

.banner__peque1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.banner__peque1__team {
    width: 100%;
    height: 100%;
}

.imagen__about {
    width: 100%;
    height: 100%;
}

.banner__courses__link {
    width: 100%;
}

.courses {
    color: $principal;
}

.text__courses {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 2.5em;
    color: #000000;
}

.design {
    font-size: 1.2em;
}

.center {
    display: flex;
    justify-content: center;
}

.imagen__train {
    width: 100%;
    height: 90%;
}

.imagen__producto {
    width: 100%;
    height: 90%;
}

.imagen__fin {
    width: 200%;
    height: 100%;
}

.imagen__blog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 700px;
}



/* Responsive */

@media screen and (max-width: 768px) {
    header {
        max-height: 40vh;
    }

    header .navbar {
        justify-content: center;
        flex-direction: column;
        min-height: 100px;
    }

    h1 {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 3.5em;
    }

    .principal5 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:    "m1"
                                "m2"
                                "m3";
    }
    
    .contact1 {
        display: grid;
        grid-template-columns: repeat(1, 600px);
        grid-template-rows: repeat(2, 1fr);
    }
    

    .offices__parrafo {
        font-size: 1.3em;
    }

    .maps {
        grid-column-start: m1;
        grid-column-end: m1;
        grid-row-start: m3;
        grid-row-end: m3;  
        width: 100%;
        height: 100%;  
    }

    .logo {
        flex-grow: 1;
        display: flex;
        align-items: center;
        height: 40px;
        margin-top: 10px;
    }

    .content6 {
        padding: 10px 20px;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    // .menu {
    //     font-size: 1.5em;
    // }

    .menu__link {
        font-size: 1.5em;
        padding: 1rem;
    }

    .principal {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 0px;
        gap: 0px;
    }

    .principal1 {
        grid-template-columns: 1fr;
        grid-gap: 0px; 
    }

    .content {
        font-size: 2.5em;
    }

    .list {
        text-align: left;
    }
    .content1 {
        padding: 0px 10px;
    }

    .button__click {
        margin: 5px 0 auto;
        font-size: 2.5em;
        width: 200px;
        height: 40px;
    }

    .banner2__link {
        height: 180px;
    }

    .principal3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:  "p1"
                              "p2"
                              "p3"
                              "p4"
                              "log"
                              "p5";
        height: 400px;
    }

    .principal3 .log {
        grid-row-start: log;
        grid-row-end: log;
    }

    .principal3 .teach {
        grid-row-start: p3;
        grid-row-end: p3;
        
    }

    .principal3 .infra1{
        grid-row-start: p2;
        grid-row-end: p2;
        
    }

    .principal3 .somos{
        grid-row-start: p4;
        grid-row-end: p4;
        
    }

    .principal6 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 350px);
        grid-template-areas:    "c1"
                                "c2"
                                "c3"
                                "c4"
                                "c5"
                                "c6"
                                "c7"
                                "c8"
                                "c9"
                                "c10"
                                "c11"
                                "c12"
                                "c13"
                                "c14"
                                "c15";
        gap: 0px;
        width: 100%;
    }

    .pmp {
        grid-row-start: c2;
        grid-row-end: c2;
    }

    .acp {
        grid-row-start: c4;
        grid-row-end: c4;
    }

    .train {
        grid-row-start: c8;
        grid-row-end: c8;
    }

    .itil {
        grid-row-start: c10;
        grid-row-end: c10;
    }

    .product {
        grid-row-start: c14;
        grid-row-end: c14;
    }

    .imagen__fin {
        width: 100%;
        height: 100%;
    }
    
    .logo4__link {
        width: 250px;
        height: 80px;
        margin: 20px 20px;
    }


    .principal5>div {
        background-color: #6d6d6a;
        padding: 5px 0;
        font-size: 1.8em;

    }

    .principal6 >div {
        font-size: 1.8em;
        color: #000000;
    }

    
    .pmp div{
        height: 2vh;
    }

    .principal7 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
    }

    .red__social li {
        display: inline-block;
        padding: 2px;
    }

    .follow {
        font-size: 2em;
    }

    .contact {
        font-size: 2em;
    }

    .offices {
        font-size: 2em;
    }

    .social__media {
        width: 35px;
        margin: 8px;
    }

    .icon {
        width: 20px;
        margin: 0px 3px;

    }

    form {
        margin: 0px 0px 50px;
    }

    .box {
        padding: 2px;
        margin: 10px 50px;
        display: flex;
    }

    textarea {
        width: 450px;
    }

    .text__contact {
        margin-top: 30px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        font-family: $font-primary;
        font-size: 1.7em;
    }

    .text__courses {
        font-size: 1.5em;
    }


}