/* Animaciones */

.principal>div {
    background-image: linear-gradient(#39A2AE, black);
}

.principal2>div {
    background-image: linear-gradient(#6d6d6a, black);
}

// .principal5>div {
//     background-image: linear-gradient(#6d6d6a, black);
// }

.contact1 {
    background-image: linear-gradient(#6d6d6a, black);
}

.content6 {
    color: $secondary;
}

.content7 {
    color: $secondary;
}

.principal12>div {
    background-image: linear-gradient(#6d6d6a, black);
}

.parrafo__pagos {
    color: $secondary;
}

// .navbar {
//     background-image: radial-gradient(circle, #dcdeec, #aebacc, #7f99ab, #4f7988, #1c5a62);
// }


.logo2__link {
    transform: translateY(-350px);
}

.principal6 {
    overflow: hidden;
}

.principal8 {
    overflow: hidden;
}

.principal10 {
    overflow: hidden;
}

.imagen__pmp:hover {
    height: 100%;
    transition: width 1s ease-in-out;
}

.imagen__acp:hover {
    height: 100%;
    transition: width 1s ease-in-out;
}

.imagen__advanced:hover {
    height: 100%;
    transition: width 1s ease-in-out;
}

.imagen__train:hover {
    height: 100%;
    transition: width 1s ease-in-out;
}

.imagen__itil:hover {
    height: 100%;
    transition: width 1s ease-in-out;
}

.imagen__scrum:hover {
    height: 100%;
    transition: width 1s ease-in-out;
}

.imagen__producto:hover {
    height: 100%;
    transition: width 1s ease-in-out;
}

// .logo:hover {
//     width: 45%;
//     transition: width 3 ease-in-out;
// }

.icon {
    animation-name: crazyicon;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

.social__media {
    animation-name: crazyicon1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

// .menu__item {
//     animation-name: menuloco;
//     animation-iteration-count: 1;
//     animation-timing-function: ease-in-out;
//     animation-duration: 3s;
// }


@keyframes crazyicon {
    0% {
        transform: rotate(-150deg);
        position: relative;
        right: 100px;
    }

    25% {
        transform: rotate(-200deg);
        position: relative;
        right: 75px;
    }

    50% {
        transform: rotate(-250deg);
        position: relative;
        right: 50px;
    }

    75% {
        transform: rotate(-300deg);
        position: relative;
        right: 25px;
    }

    100% {
        transform: rotate(-360deg);
        position: relative;
        right: 0px;
    }


}

// @keyframes menuloco {
//     0% {
//         transform: rotate(-150deg);
//         position: relative;
//         right: 100px;
//     }

//     25% {
//         transform: rotate(-200deg);
//         position: relative;
//         right: 75px;
//     }

//     50% {
//         transform: rotate(-250deg);
//         position: relative;
//         right: 50px;
//     }

//     75% {
//         transform: rotate(-300deg);
//         position: relative;
//         right: 25px;
//     }

//     100% {
//         transform: rotate(-360deg);
//         position: relative;
//         right: 0px;
//     }


// }

@keyframes crazyicon1 {
    0% {
        transform: rotate(-150deg);
        position: relative;
        right: 100px;
    }

    25% {
        transform: rotate(-200deg);
        position: relative;
        right: 75px;
    }

    50% {
        transform: rotate(-250deg);
        position: relative;
        right: 50px;
    }

    75% {
        transform: rotate(-300deg);
        position: relative;
        right: 25px;
    }

    100% {
        transform: rotate(-360deg);
        position: relative;
        right: 0px;
    }


}