html {
    font-size: 62.5%;
    font-family: $font-primary;
    color: $secondary;
    background-color: #f2f3f2;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $secondary;
}